.Tariffs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
    margin: 20px;
}

.card {
  height: 293px;
  width: 190px;
  color: white;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 20%;
}

.header__text {
  font-weight: 500;
}

.card__main {
  box-sizing: border-box;
  height: 45%;
  padding: 20% 5%;
  border-left: 1px solid white;
}

.main__text {
  display: flex;
  justify-content: center;
}

.main__text span:nth-of-type(2) {
  font-size: 3rem;
}

.main__text span:last-of-type {
  align-self: flex-end;
}

.main__text span:first-of-type, .main__text span:last-of-type {
  font-size: 0.9rem;
}

.card__speed, .card__footer {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
  color:rgb(78, 78, 78);
  font-weight: 500;
}

.card__speed {
  padding-top: 15px;
  background-color: rgb(247, 247, 247);
  height: 10%;
}

.card__footer {
  padding: 7px 0;
  line-height: 25px;
  background-color: rgb(231, 231, 231);
}

.selected {
  margin-top: -10px;
  height: 315px;
  box-shadow: -6px 7px 19px 8px rgba(139, 139, 139, 0.2);
}